<div id="<%= dom_id cc_info %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= cc_info.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Picture:</strong>
    <%= cc_info.picture %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Knownfor:</strong>
    <%= cc_info.knownFor %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this cc info", cc_info, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this cc info', edit_cc_info_path(cc_info), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
